<% include Partials/header%>
<div class="col-md-5">
    <div class="card">
        <div class="card-body">
            <form action="/editLibrary/<%= library._id %>" method="POST">
                <div class="form-group">
                    <input type="text" name="idLibrary" placeholder="Inserte el id de la librería" class="form-control" value="<%= library.idLibrary%>">
                </div>
                <div class="form-group">
                        <input type="text" name="name" placeholder="Inserte el nombre de la librería" class="form-control" value="<%= library.name%>">
                </div>
                <div class="form-group">
                        <input type="text" name="country" placeholder="Inserte país" class="form-control" value="<%= library.country%>">
                </div>    
                <div class="form-group">
                        <input type="text" name="location" placeholder="Inserte la ubicación" class="form-control" value="<%= library.location%>">
                </div>
                <div class="form-group">
                        <input type="text" name="telephone" placeholder="Inserte el teléfono" class="form-control" value="<%= library.telephone%>">
                </div>
                <div class="form-group">
                        <input type="text" name="schedule" placeholder="Inserte el horario" class="form-control" value="<%= library.schedule%>">
                </div>
                <div>
                    <button type="submit" class="btn btn-success btn-block">Modificar librería</button>
                </div>
            </form>
        </div>
    </div>
</div>
        
<% include Partials/footer%>