<% include partials/header%>

<div class="container">
    <div class="row">
        <div class = "col-md-4 mx-auto">
            <div class = "card">
                <div class = "card-body">
                    <form action="/searchReport" method="GET">
                        <div class="form-group">
                            <input type="date", name="date1", placeholder="Insertar primera fecha" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="date", name="date2", placeholder="Insertar segunda fecha" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text", name="state", placeholder="Insertar estado" class="form-control">
                        </div>
                        <button type= "submit", class="btn btn-info btn-block"> 
                            Buscar 
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class = "col-md-8 mx-auto">
            <table class = "table  table-sm table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID Pedido</th>
                        <th>ID Cliente</th>
                        <th>Fecha de Pedido</th>
                        <th>Libros</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <body>
                    <% for(var i = 0; i < deliveriesClient.length; i++) { %>
                        <% var id = dataUser.idUser; %>
                        <% if (deliveriesClient[i].idUser == id) { %>
                            <tr>
                                <td><%= deliveriesClient[i]._id %></td>
                                <td><%= deliveriesClient[i].idUser %></td>
                                <td><%= deliveriesClient[i].order_date %></td>
                                <td><%= deliveriesClient[i].books.length %></td>
                                <td><%= deliveriesClient[i].total %></td>
                                <td><%= deliveriesClient[i].state %></td>
                                <% var condicion = deliveriesClient[i].state ; %>
                                <% if (condicion == 'Procesado') { %>
                                    <td>
                                        <a href="/reporteDetails/<%= deliveriesClient[i]._id%>" class="btn btn-info">Ver</a>
                                    </td>
                                <% } %> 
                            </tr>
                        <% } %> 
                    <% } %> 
                </body>
            </table>
        </div>
    </div>
</div>

<% include partials/footer%>